@{
    Layout = "~/Views/Shared/_EducutLayout.cshtml";
    ViewData["Title"] = "EduCtu Contact Page";
}

@model IEnumerable<HSJProject.DataModels.Contact>


<div class="container my-5">
    
   
    <table class="table table-hover my-5">
        <thead class="table-info">
            <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                @* <th>Message</th> *@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @{
                int serial = 1;
                foreach (var data in Model)
                {
                    
                    <tr>
                        <td>@serial</td>
                        <td>@data.Name</td>
                        <td>@data.Email</td>
                        <td>@data.PhoneNumber</td>
                        @* <td>@data.Message</td> *@
                        <td>
                            <a class="btn btn-info" asp-action="ContactEdit" asp-route-id="@data.Id">Info</a>
                            <a class="btn btn-danger" asp-action="ContactDelete" asp-route-id="@data.Id">Delete</a>

                        </td>
                    </tr>
                    serial++;
                }
            }
           
        </tbody>
    </table>
</div>