@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model IEnumerable<HSJProject.DataModels.Product>
<!-- DataTables CSS -->
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.css'>
<link rel='stylesheet' href='https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>


<div class="card">

    <div class="card-header">
        <h3 class="card-title">All Product List</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <div class=" card-body  ">
        <table class="table" id="mytable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Image</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int serial = 1;
                    foreach(var data in Model)
                    {
                        <tr>
                            <th scope="row">@serial</th>
                            <td>@data.ProductName</td>
                            <td>@data.ProductPrice</td>
                            <td>@data.ProductStock</td>
                            <td>
                                <img src="@data.ProductImage" style="width: 5%">
                            
                            </td>


                            @if (@data.IsActive == true)
                            {
                                <td>
                                    Yes
                                </td>
                            }
                            else
                            {
                                <td>
                                    No
                                </td>
                            }
                            <td>
                                <a  class="btn btn-info">Edit</a>
                                <a  class="btn btn-danger">Delete</a>
                            </td>
                            
                        </tr>
                        serial++;
                    }
                }
                
               
            </tbody>
        </table>
    </div>
</div>




<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js'></script>
<script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js'></script>
<script src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.js'></script>
<script src='https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.js'></script>
<script>
    $(document).ready(function () {
        
        document.title = 'DataTable Excel';
        $('#mytable').DataTable(
            {
                "dom": '<"dt-buttons"Bf><"clear">lirtp',
                "paging": true,
                "autoWidth": true,
                "buttons": [
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        customize: function (xlsx) {
                            var source = xlsx.xl['workbook.xml'].getElementsByTagName('sheet')[0];
                            source.setAttribute('name', 'New Name');
                        }
                    }
                ]
            }
        );
    });
</script>
